* { 
    margin: 0;
    padding: 0;
    /* background-image: url("https://store-images.s-microsoft.com/image/apps.55787.9007199266246365.687a10a8-4c4a-4a47-8ec5-a95f70d8852d.12c2c5b7-0d97-4635-9b57-8a35da0f4c79?mode=scale&q=90&h=1080&w=1920"); */
    background-color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* the way backgroud transparent but children element not */
.header {
    text-align: center;
    height: 350px; 
    background-image: url("https://cdn.vox-cdn.com/thumbor/WhBtiSXd3B_c9zlrjW08KU-7_OU=/0x0:2300x1499/1200x800/filters:focal(966x566:1334x934)/cdn.vox-cdn.com/uploads/chorus_image/image/57988089/Movies_end_of_year_2017.0.jpg");
    /* opacity: 0.8; */
    position: relative;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}


.logo {
    background:rgba(0,0,0,0);
    height: 120px;
    width: 350px;
    position: relative;
    /* padding: 20px; */
    margin-top: 100px;
}

h2{
    color: white;
    margin: 50px 30px 20px;
    text-shadow: 2px 2px 4px grey;
}

.container {
    display: flex;
}

.film,button {
    display: block;
    text-align: center;
    margin: 5px auto;
}

.film {
    box-shadow:  0 6px 20px 0 hsl(0, 2%, 64%);
}

button {
    visibility: hidden;
    background-color:hsl(0, 2%, 64%);
    cursor: pointer;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: 0px;
}

.movie {
    /* padding: 10px; */
    margin-left: 2%;
}

button:hover {
    background-color: darkolivegreen;
}

.container :hover button {
    visibility: visible;
}


